<!DOCTYPE html>
<html lang="en" ng-app="ratingApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./assets/styles/common.min.css">
    <link rel="stylesheet" href="./assets/styles/index.min.css">
    <title>Project</title>
</head>
<body ng-controller="ratingController">
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="#" class="uk-logo logo" id="project">Project</a>
            </div>
        </div>
    </div>
    <div class="section uk-flex uk-flex-middle">
        <div class="container">
            <div class="form" id="form">
                <div class="row" uk-grid>
                    <div class="input-subject uk-width-1-1">
                        <label for="subject" class="uk-form-label">Введите название предмета:</label>
                        <div class="uk-form-controls">
                            <input 
                                type="text" 
                                name="subject" 
                                class="uk-input uk-width-1-1" 
                                ng-focus="clearSubjectInput()"
                                ng-blur="validateString(subject)"
                                id="subject"
                                ng-model="subject">

                            <div id="lessonDropdown" uk-dropdown="mode: click">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li ng-repeat="lesson in lessons | filter: subject">
                                        <a class="uk-dropdown-close" ng-click="enterLesson(lesson)">{{ lesson }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row uk-grid-collapse uk-flex-between uk-margin-top" uk-grid>
                    <div class="input-ratingnum uk-width-1-2">
                        <label for="ratingNum" class="uk-form-label">Введите количество оценок: (число от 0 до 20)</label>
                        <div class="uk-form-controls">
                            <input 
                                type="number" 
                                name="ratingNum"
                                class="uk-input uk-width-1-1"
                                ng-focus="clearNumberRatingInput()"
                                ng-blur="validateNumberRating(ratingNum)"
                                ng-change="ratingCreate()"
                                id="ratingNum"  
                                ng-model="ratingNum">
                        </div>
                    </div>
    
                    <scroll-rating class="uk-flex uk-flex-middle"></scroll-rating>
                </div>

                <div class="row uk-margin-top uk-flex-bottom" uk-grid>
                    <div class="input-num-employ uk-width-1-2">
                        <label for="numEmploy" class="uk-form-label">Введите количество пропущенных занятий:</label>
                        <div class="uk-form-controls">
                            <input 
                                type="number" 
                                name="numEmploy" 
                                class="uk-input uk-width-1-1" 
                                ng-focus="clearNumEmploy()"
                                ng-blur="validateNumEmploy(numEmploy)"
                                ng-change="checkNumEmploy()"
                                id="numEmploy"
                                ng-model="numEmploy">
                        </div>
                    </div>
                    <div class="input-num-sucess-employ">
                        <label for="numSuccessEmploy" class="uk-form-label">Из них по уважительной причине:</label>
                        <div class="uk-form-controls">
                            <input 
                                type="number" 
                                name="numSuccessEmploy" 
                                class="uk-input uk-width-1-1" 
                                ng-focus="clearNumSuccessEmploy()"
                                ng-blur="validateNumSuccessEmploy(numSuccessEmploy)"
                                ng-change="checkNumSuccessEmploy()"
                                id="numSuccessEmploy"
                                ng-model="numSuccessEmploy">
                        </div>
                    </div>
                </div>
                <button class="uk-button uk-button-default uk-margin-top" type="submit" id="submit" ng-click="validateForm()">Узнать результат</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div id="ya-share2"></div>
        </div>
    </div>

    <script src="./assets/scripts/common.min.js"></script>
    <script src="https://yastatic.net/share2/share.js"></script>

    <script src="./assets/scripts/index.min.js"></script>
</body>
</html>