<div class="header__scroll-rating uk-width-1-2" uk-slideshow>
    <div id="label" class="scroll-rating__success" ng-show="ratingNum">Отвечено {{ ratingSuccess }} / {{ ratingNum }}</div>
    <ul class="uk-slideshow-items scroll-rating uk-flex uk-flex-middle uk-form-stacked">
        <li 
            class="scroll-rating__rating" 
            ng-repeat="rating in ratings">
            <div class="uk-card uk-flex uk-flex-center">
                    <input
                    type="text"
                    name="rating_{{ rating.id }}"
                    class="rating-input uk-form-controls"
                    ng-focus="clearRatingInput(rating.id)"
                    ng-blur="validateRating(rating.value, rating.id)"
                    id="rating_{{ rating.id }}"
                    maxlength="1"
                    ng-model="rating.value">
            </div>
            <label for="rating_{{ rating.id }}" class="rating-label uk-form-label">Оценка {{ rating.id + 1 }}</label>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous" ng-show="ratingNum"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next" ng-show="ratingNum"></a>
</div>