.header__scroll-rating
{
    position: relative;
    width: 200px;
}

.scroll-rating 
{
    width: 100%;
    min-height: 60px !important;
}

.uk-form-label, .rating-input, .scroll-rating__success
{
    // margin: 0px auto;
    text-align: center;
}

.rating-input 
{
    height: 30px;
    width: 30px;
}

.scroll-rating__success
{
    margin-bottom: 10px;
}