.container 
{
    max-width: 560px;
    margin: 0px auto;
    padding: 10px 20px;
    box-sizing: border-box;
    height: 100%;
    color: #fff;
}

.logo, .logo:hover
{
    color: #ffffff;
}

.header
{
    height: 10vh;
    background-color: rgb(75, 160, 240);
}

.section
{
    min-height: 80vh;
    box-sizing: border-box;
    padding: 100px 0px;
}

.footer
{
    height: 10vh;
    background-color: rgb(75, 160, 240);
}

#label
{
    color: #666;
}

#submit 
{
    background-color: #ffffff;
}

.table
{
    margin-top: 100px;
}

.result-body {
    color: #666;
}

tr .result-col:first-child {
    text-align-last: left;
}

.result-col
{
    text-align: center;
}